body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #0078D7;
    color: white;
    padding: 20px 0;
  }
  
  form {
    margin: 20px auto;
  }
  
  input {
    padding: 10px;
    margin: 5px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0078D7;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #result {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    display: none; /* Hide the result section by default */
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
  #result.good {
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  #result.unhealthy {
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  /* General styling for larger screens */
input {
    width: 80%; /* Use percentage for responsiveness */
    max-width: 400px; /* Set a reasonable maximum width */
  }
  
  button {
    width: auto;
    padding: 10px 15px;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    input {
      width: 90%; /* Adjust for smaller screens */
    }
  
    #result {
      margin: 10px;
      padding: 15px;
    }
  }
  